.one-movie-detail {
    margin-top: 150px;
    text-align: center;
}

.one-movie-detail a {
    text-decoration: none;
    color: #e5e5e5;
    background-color: #e50419;
    padding: 5px 10px;
    font-size: 18px;
}
